/* Neumorphic https://codepen.io/myacode/pen/PoqQQNM */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: var(--greyLight-1);
  
  padding: 1rem;
}

.components {
  width: 100%;
  border-radius: 1rem;
  box-shadow: inset .5rem .5rem 1.2rem var(--greyLight-2), 
              inset -.2rem -.2rem 1rem var(--white);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, min-content);
  column-gap: .5rem;
  row-gap: .5rem;
  /*
  justify-items: center;
  align-items: center;
  */
}



