body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Neumorphic https://codepen.io/myacode/pen/PoqQQNM */

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #FFFFFF;
  --greyLight-0: rgb(242, 242, 255);
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: rgb(190, 200, 228);
  --greyDark: #9baacf;
  --shadow: #3f475a;

  --red2: rgb(163, 33, 52);

  --red: 200, 0, 0;
  --cyan: 0, 200, 200;
  --green: 0, 200, 0;
  --blue: 0, 0, 160;
  --magenta: 200, 0, 200;
  --yellow: 220, 220, 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  background: var(--greyLight-1);

  @media screen and (min-width: 900px) {
    font-size: 75%;
  }
}